@tailwind base;
@tailwind components;
@tailwind utilities;

/* poker用カラー設定 */
.bg-poker-color {
  background-color: #2d2d2d;
}

.font-poker-color {
  color: #95913f;
}

.font-poker-family {
  font-family: serif;
  font-weight: bolder;
}

.border-gold {
  border-color: #95913f;
  border-width: 1px;
}

.border-gold-button {
  background-color: transparent;
  border-color: #95913f;
  border-width: 1px;
}
.border-gold-button:hover {
  background-color: #95913f;
  color: #2d2d2d;
}
.border-gold-button:active {
  background-color: transparent;
  border-color: #95913f;
  border-width: 1px;
}
